# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variable files
.env
.env.*

# Output and log files
*.log
*.out
*.txt
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS / Linux system files
.DS_Store
